@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype-variations");
}


// @font-face {
//   font-family: "HeadingNow";
//   src: url("/fonts/HeadingNowTrial-56Bold.ttf") format("opentype");
// }
@font-face {
  font-family: "HeadingNow";
  src: url("/fonts/HeadingNow-56Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;800;900&display=swap');
