@import "~/src/styles/variables";
@import "~/src/styles/functions";

.container {
  margin-left: rem(140px);
  margin-top: rem(63px);
  width: rem(480px);
}

.cubeWrapper {
  position: fixed;
  left: 47%;
  top: 0;
  width: calc(rem(618px) - (rem(1920px) - var(--window-width)) / 3.3);
  height: calc(rem(681px) - (rem(1920px) - var(--window-width)) / 3);
}

.cubeImg {
  margin-top: calc(rem(115px) + (rem(1920px) - var(--window-width)) / 5.5);
}

.line {
  height: 100vh;
  width: calc(rem(290px) - (rem(1920px) - var(--window-width)) / 7);
  background-color: var(--main-color);
  //margin-left: rem(172px);
  margin-left: 26%;
  min-width: 130px;
}

.descriptionBtn {
  position: fixed;
  bottom: rem(79px);
  right: rem(140px);
  background-color: #ffffff;
  padding: rem(17px) rem(38px) rem(18px) rem(38px);
  border-radius: rem(20px);
  display: flex;
  align-items: center;
  gap: rem(15px);
  transition: 0.12s;
  transition-timing-function: ease-out;
  transition-property: bottom;

  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: rem(20px);
    line-height: 125%;
  }

  &:hover {
    bottom: rem(82px);
    transition: 0.12s;
    transition-timing-function: ease-out;
    transition-property: bottom;
  }
}

.firstPart {
  height: calc(var(--height, 100vh) - $marginTop - $marginBottom);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondPart {
  // padding-top: rem(100px);
  padding-bottom: rem(48px);
  height: calc(var(--height, 100vh) - $marginBottomFooter - rem(85px));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  gap: rem(83px);
  justify-content: flex-start;
  align-items: flex-start;
}

.logoWrapper {
  width: rem(100px);
  height: rem(58px);
  position: relative;
}

.languageBtn {
  text-transform: uppercase;
  font-weight: 800;
  font-size: rem(16px);
  background-color: #ffffff;
  padding: rem(9px) rem(16px) rem(9px) rem(16px);
  border-radius: rem(16px);
  display: flex;
  align-items: center;
  gap: rem(4px);
  transition: 0.12s;
  transition-timing-function: ease-out;
  transition-property: margin-top;

  &:hover {
    margin-top: rem(3px);
    transition: 0.12s;
    transition-timing-function: ease-out;
    transition-property: margin-top;
  }
}

.tittle {
  text-transform: uppercase;
  font-family: HeadingNow;
  padding-top: rem(100px);
  font-weight: 700;
  font-size: rem(65px);
  line-height: 90%;
}

.nftBlock {
  // margin-top: rem(176px);
  background-color: #ffffff;
  padding: rem(39px) rem(20px) rem(40px) rem(45px);
  border-radius: rem(25px);
  width: rem(320px);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: rem(18px);
  line-height: rem(20px);
  text-transform: uppercase;
  color: rgba(144, 167, 188, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(25px);
}

.nftAmount {
  font-family: HeadingNow;
  font-style: normal;
  font-weight: 700;
  font-size: rem(40px);
  line-height: rem(20px);
  color: $outstandingColor;
}

.whitelist {
  background-color: $outstandingColor;
  margin-top: rem(25px);
  padding: rem(17px) 0;
  width: rem(319px);
  border-radius: rem(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16px);
  text-transform: uppercase;
  font-family: HeadingNow;
  color: #ffffff;
  font-weight: 700;
  font-size: rem(30px);
  line-height: 125%;
  margin-bottom: 0;
  transition: 0.3s;

  @media (min-width: rem(800px)) {
    &:hover {
      transform: translateY(-3px);
    }
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!

// .btnConnect{
//   display: none;
// }

// .btnGet{
//   display: none;
// }

.btnMintClose {
  //display: none;
  color: rgba(100, 119, 136, 1);
  background-color: #e1e6eb;
  backdrop-filter: blur(rem(25px));
}

// .btnMintOpen{
//   display: none;
// }

//!!!!!!!!!!!!!!!!!!!!!!!!!!!

.textPart {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.heading {
  text-transform: uppercase;
  font-family: HeadingNow;
  font-weight: 700;
  font-size: rem(50px);
  line-height: 90%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: rem(25px);
  width: rem(435px);
  // margin-top: rem(50px);
  font-weight: 600;
  line-height: rem(25px);
  letter-spacing: 0;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: rem(44px);
  // margin-top: rem(134px);
}

.infoBlock {
  font-size: rem(11px);
  font-weight: 600;
  line-height: rem(15px);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  margin-bottom: rem(3px);
}

.social {
  display: flex;
  gap: rem(50px);
}

.link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: rem(12px);
  font-weight: 500;
  line-height: rem(14px);
  letter-spacing: 0;
}

.underline {
  position: absolute;
  bottom: rem(1px);
  left: 0;
  background-color: rgba(30, 63, 94, 1);
  height: rem(1px);
  width: 100%;
}

.planetSvg {
  width: rem(27px);
  height: rem(27px);
}

.arrowSvg {
  width: rem(11px);
  height: rem(10px);
}

.questionSvg {
  width: rem(25px);
  height: rem(25px);
}

.lockSvg {
  width: rem(24px);
  height: rem(31px);
  margin-bottom: rem(3px);
}

.discordSvg {
  width: rem(28px);
  height: rem(20px);
}

.foxSvg {
  width: rem(23px);
  height: rem(22px);
}

.loaderWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: rem(1260px)) {
  .desktop {
    display: none;
  }

  .container {
    margin-left: rem(40px);
    width: rem(300px);
  }

  .secondPart {
    height: calc(var(--height, 100vh) - $marginBottomFooter - rem(75px));
  }

  .descriptionBtn {
    right: rem(40px);
  }

  .cubeWrapper {
    //width: calc(rem(618px) - (rem(1260px) - var(--window-width)) / 1.5  ) ;
    //height: calc(rem(681px) - (rem(1260px) - var(--window-width)) / 1.5  ) ;
    ////width: 52vw;
    //height: 56vw;
    min-width: rem(280px);
    min-height: rem(309px);
    left: 46%;
  }

  .line {
    margin-left: 26%;
    //width: calc(rem(290px) - (rem(1260px) - var(--window-width)) / 3.6  );
  }

  .cubeImg {
    //margin-top: calc(rem(115px) + (rem(1260px) - var(--window-width)) / 4);
  }

  .tittle {
    // margin-top: rem(120px);
    font-size: rem(47px);
  }

  .nftBlock {
    width: rem(220px);
    font-size: rem(15px);
    gap: rem(9px);
    align-items: initial;
    padding: rem(20px) rem(20px) rem(20px) rem(36px);
    border-radius: rem(16px);
  }

  .whitelist {
    margin-top: rem(15px);
    width: rem(220px);
    height: rem(60px);
  }

  .nftAmount {
    line-height: rem(16px);
    font-size: rem(27px);
  }

  .btnMintOpen,
  .btnMintClose {
    font-size: rem(25px);
  }

  .textBlock {
    width: 100%;
    // margin-top: rem(50px);
  }

  .descriptionBtn {
    margin-top: rem(15px);
    width: rem(220px);
    border-radius: rem(16px);
    padding: rem(12px) 0 rem(12px) 0;
    justify-content: center;
    gap: rem(12px);

    .text {
      font-size: rem(15px);
    }
  }

  .heading {
    // margin-top: rem(85px);
    font-size: rem(28px);
    padding-top: 0;
  }

  .textBlock {
    // margin-top: rem(40px);
    font-size: rem(16px);
    gap: rem(12px);
  }

  .footer {
    // margin-top: rem(75px);
  }

  .link {
    font-size: rem(9px);
  }

  .discordSvg {
    width: rem(24px);
    height: rem(16px);
  }

  .foxSvg {
    width: rem(20px);
    height: rem(17px);
  }

  .whitelist {
    font-size: rem(20px);
    gap: rem(10px);
  }
}

@media (max-width: rem(700px)) {
  .firstPart {
    // height: initial;
    align-items: center;
    height: initial;
  }
  .secondPart {
    // height: initial;
    align-items: center;
    gap: 40px;
    height: initial;
    padding-top: 80px;
  }
  .empty {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem(20px);
    width: rem(320px);
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    justify-content: space-between;
  }

  .languageBtn {
    font-size: rem(14px);
    padding: rem(6px) rem(10px) rem(6px) rem(10px);
    &:hover {
      margin-top: revert;
    }
  }

  .planetSvg {
    width: rem(21px);
    height: rem(25px);
  }

  .arrowSvg {
    width: rem(7px);
    height: rem(6px);
  }

  .questionSvg {
    width: rem(21px);
    height: rem(21px);
  }

  .lockSvg {
    width: rem(19px);
  }

  .logoWrapper {
    width: rem(80px);
    height: rem(47px);
  }

  .cubeWrapper {
    position: relative;
    width: rem(280px);
    height: rem(309px);
    left: initial;
    margin-top: rem(15px);
  }

  .cubeImg {
    // margin-top: rem(115px);
    margin-top: 0;
  }

  .line {
    display: none;
  }

  .descriptionBtn {
    position: relative;
    bottom: initial;
    right: initial;

    &:hover {
      bottom: initial;
    }
  }

  .tittle {
    // margin-top: rem(60px);
  }

  .textBlock {
    font-size: rem(14px);
  }
}
